<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body  style="background-image:url(https://s3.amazonaws.com/Syntaxxx/background-gold-bokeh.jpg);  background-size: 100%; " >
<div class="navbar">
    <a href="/">Home</a>
    <a href="/bloodmain">Blood Donation</a>
    <a href="/contact">Contact Us</a>
</div>

<section class="get">
    <h3 style="margin-left: 500px; ">All Registerd Patient Record Show</h3>

    <div>
        {{# each items3 }}
            <article class="item3">



                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Address</th>


                        <th>Contact No</th>
                        <th>Disease</th>

                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ this._id }}</td>
                        <td>{{this.lname }}</td>

                        <td>{{ this.ltitle }}</td>
                        <td>{{ this.lcontent }}</td>
                        <td>{{this.lgender}}</td>

                        <td>{{ this.lauthor }}</td>

                        <td>{{this.lcontact}}</td>



                    </tr>
                    </tbody>
                </table>

            </article>
        {{/each}}
    </div>
</section>
</body>
